<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<appender name="ingame" class="es.elv.kobold.log.IngameAppender">
		<param name="toAllPlayers" value="true" />
		<param name="toDMChannel" value="false" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c{2} - %m" />
		</layout>

		<!-- only print WARN and above to ingame -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="xmpp" class="es.elv.kobold.log.XMPPAppender">
		<param name="host" value="swordcoast.net" />
		<param name="service" value="swordcoast.net" />
		<param name="useTLS" value="false" />
		<param name="forcePlain" value="true" />
		<param name="username" value="user" />
		<param name="password" value="pass" />
		<param name="resource" value="log4j" />
		<param name="logTarget" value="jid@host.net,jid@anotherhost.net" />
		<param name="presenceModePriority" value="0" />
		<param name="presenceModeMessage" value="log4j notify, will not answer messages" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c{2} - %m" />
		</layout>

		<!-- only print WARN and above to ingame -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="errorlog" class="org.apache.log4j.FileAppender">
		<param name="File" value="error.log" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- Turn off route debug messages. -->
	<!-- <logger name="es.elv.kobold.R$">
		<level value="info" />
	</logger> -->

	<root>
		<priority value="debug" />
		<appender-ref ref="stdout" />
		<appender-ref ref="ingame" />
		<appender-ref ref="errorlog" />
		<appender-ref ref="xmpp" />
	</root>

</log4j:configuration>
